

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared style*/
.text-primary{
    color: rgba(253, 110, 10, 1);
}

.dark-1{
    color: rgba(24, 24, 24, 1);
}
.dark-2{
    color: rgba(71, 71, 71, 1);
}

.dark-3{
    color: rgba(117, 117, 117, 1);
}
.secondary-bg{
    background-color: rgba(255, 248, 243, 1);
}

.btn-primary{
    background-color: rgba(253, 110, 10, 1);
    color: rgba(255, 255, 255, 1);
    padding: 12px 23px 12px 23px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
    height: 64px;

}

.section-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-description{
    font-size: 18px;
}
/*Header Style*/
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-color: rgba(255, 248, 243, 1);
    /* box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.3); */
}
/* Nav Style*/

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 50px 200px;
 
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
   
}

nav ul li{
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
   
}
nav ul li a .hire-box-size{
    width: 150px;
    height: 64px;
}
/*Banner Style*/
.banner{
    display: flex;
    justify-content: space-between;
    margin-left: 230px;
    margin-right: 38px;
}
.banner-content{
    max-width: 585px;
   
}
.banner-greetings{
   font-size: 45px;
   font-weight: 600; 
   margin-bottom: 5px;
}

.banner-title{

    font-size: 85px;
    font-weight: 700; 
    margin-bottom: 20px;
    
}
.banner-description{
    font-size: 18px;
    margin-bottom: 30px;
}
.download-cv-box-size{
    height: 64px;
    width: 200px;
    margin-right: 30px;
}
.banner .banner-content .btn-contact{
    font-size: 18px;
    font-weight: bold;
    color: rgba(253, 110, 10, 1);
    padding: 12px 23px 12px 23px;
    border-radius: 5px;
    border-color:rgba(253, 110, 10, 1) ;
    width: 160px;
    height: 64px;
    /* background-color:rgba(255, 248, 243, 1) ; */
    cursor: pointer;
  
}

.banner-profile-picture{
width: 584px;
height: 676px;

}

/*Main Style*/
main{
    max-width: 1140px;
    
    margin: 0 auto;
}

/*About Style*/

.about{
    border-radius: 10px;
    padding: 130px 155px;
    margin-top: 130px;
    text-align: center;

}

.about-items{
    display: flex;
    justify-content: space-around;
}

.about-item{
    font-size: 20px;
}
.item-title{
    font-weight: 400px;
    color: rgba(117, 117, 117, 1);
}
.item-description{
    
    font-weight: 700;
    color: rgba(71, 71, 71, 1);
    
}

/*What I do style*/
.skills{
    /* border-radius: 10px; */
    /* padding: 130px 155px; */
    text-align: center;
    margin-top: 130px;
}
.skill-title{
    font-weight: bold;
    font-size: 35px;
   
    text-align: center;
    
}
.skill-description{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
   
    
}
/*Programming skills*/
.p-skills-container{
    display: flex;
}
.p-skill{
    width: 265px;
    height: 300px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 1);
    text-align: start;
    margin-right: 24px;
    /* border: solid chartreuse; */
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 130px;
}
.p-icons{
    width: 44px;
    height: 44px;
    

}
.p-skill-title{
    font-size: 20px;
    font-weight: bold;
   
}
.p-skill-description{
    font-size: 16px;
  
}

/*Summary style*/
.summary-title{
    text-align: center;
}

.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
  
}
.education-title{
    font-size: 30px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);

}
.degree{
    font-size: 25px;
    font-weight: bold;
    color: rgba(71, 71, 71, 1);
}
.university{
    font-size: 20px;
    font-weight: 600;
    color: rgba(117, 117, 117, 1);

}
.education-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(117, 117, 117, 1);
}
a .resume-download-btn{
   text-decoration: none;
   margin-left: 500px;
   margin-bottom:113px ;
   margin-top:30px ;
 
}



/*Footer Style*/

.footer-container{
    display: flex;
    /* width: 1600px;*/
    height: 650px; 
    padding: 130px 230px;
    gap:117px ;
   
}
.footer-contact{
    width: 50%;
}
.footer-message{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer-description{
    margin-top: 20px;
    margin-bottom: 30px;
}
footer input[type="text"], footer input[type="email"]{
    display: block;
    height: 44px;
    width: 280px;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
    padding: 18px 350px 18px 30px;
    font-size: 16px;
    font-weight: 400;
}
footer textarea{
    display: block;
    height: 180px;
    width: 280px;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
    padding: 18px 350px 18px 30px;
    font-size: 16px;
    font-weight: 400;
}
 img{
    margin-left: 24px;
    margin-right: 24px;
}